{% extends 'blog/base.html' %}

{% block content %}
<div class="jumbotron ">
    <h1 class="display-4">Hello, my stranger friends over the internet!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-1">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>

    <h1>Blog Home!</h1>
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article> 
    {% endfor %}
{% endblock content %}
